.login{
    background-color: purple;
    color: #fff;
    border-radius: 15px 15px 15px 15px;
    height: 50px;
    width: 150px;
    font-weight: bold;
    font-family: sans-serif;
    border-color:whitesmoke;
    font-style: oblique;
    font-size: 200%;
   
}

body{
    font-family:sans-serif;
    padding: 30px;
    background:#ededed;
}

#create{
    display: none;
}
#dashboard{
    display: none;
}
.wrapper{
    max-width: 690px;
    margin: 0 auto;
}

.blue {
    color:#3f7abe;
}

h1{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #08a3d9;
    text-transform: uppercase;
    font-size: 30px;
    color: #000380;
}

#balloon-gallery div{
    background: #ff3300;
    height: 50px;
    width: 50px;
    text-align: center;
    color: #ff3300;
    font-size: 10px;
    font-family: sans-serif, arial;
    border-radius: 100%;
    margin-top: 30px;
    display: inline-block;
    /* float: left; */
    margin: 20px 20px;
}

#balloon-gallery div:nth-child(3n){
    background: #ffce00;
    color: #ffce00;
}

#balloon-gallery div:nth-child(3n-1){
    background:#3f7abe;
    color:#3f7abe;
}

#balloon-gallery div:nth-child(5n){
    background:#8e7a8e;
    color:#8e7a8e;
}

#balloon-gallery div:nth-child(13){
    background:#8e7a8e;
    color:#8e7a8e;
}

#balloon-gallery div:nth-child(2n){
    background:#ff3300;
    color: #ff3300;
}

#balloon-gallery div:nth-child(4n){
    clear:right;
}

#yay-no-balloons {
    display:none;
    color:#ff3300;
    font-size:100px;
} 
